<%
# ===========================================================================
# Copyright (C) 2009, Progress Software Corporation and/or its 
# subsidiaries or affiliates.  All rights reserved.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ===========================================================================
-%>
<div id="unfeatured_projects" class="two_column section" style="height:400px;">
  <div class="interior">
    <h2>Unfeatured Projects</h2>
    <p>Drag a project to <strong>Featured Projects</strong> to feature it.</p>
    <div class="scrollable_div">
      <% Project.unfeatured.each do |project| %>
      <div id="project_<%= project.id -%>" style="cursor:move;">
        <%= h(project.name) %>  
      </div> 
      <%= draggable_element("project_#{project.id}", :revert => false) %>
      <% end %>
    </div>
  </div>
</div>
<%= drop_receiving_element("unfeatured_projects", :url => { :action => "destroy" }) %>
