<div class="wrapper">
  <%= render :partial => 'unfeatured_projects' %>
  <%= render :partial => 'featured_projects' %>
  <p>
    <%= link_to 'Back to Site Administration', admin_path %>
  </p>
</div>
