<div class="wrapper">
  <h1>Featured Projects</h1>
  <%= render :partial => 'unfeatured_projects' %>
  <%= render :partial => 'featured_projects' %>
  <div class="bottom_links">
    <%= link_to 'Back to Site Administration', admin_path %>
  </div>
</div>
