#overview
  .wrapper
    .message
      %h1
        FUSE Forge
      FUSE Forge is the developer center for hosting extensions to
      = link_to 'FUSE', 'http://fusesource.com'
      ,
      the leading open source ESB and integration platform.
      
      
#project-section
  .wrapper
    - unless @my_projects.empty?
      .message
        %h2
          My Projects
      = render(:partial => 'projects/project_list', :locals=>{ :projects => @my_projects })
      
    .message
      %h2
        Featured Projects
    = render(:partial => 'projects/project_list', :locals=>{ :projects => @featured_projects })
    
    .bottom_links
      = link_to 'More Projects...', projects_path

