- content_for(:bread_crumbs) do
  = link_to 'Forge', root_path

#overview
  .wrapper
    .message
      %h2 Terms of Use
      
#section{:style=>"font-family:Verdana,sans-serif; color:black; font-size: 80%;"} 
  .wrapper      
    = :partial => 'homepage/raw_terms_of_use'
