<div class="wrapper">
  <h1>New News Item for <%= h @project.name -%></h1>
  <% form_for( [@project, @project_news_item] ) do |f| %>
    <%= render :partial => :form -%>
    <div class="form_button">
      <%= f.submit "Create" %>
    </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Back', project_project_news_items_path(:project_id => @project) %>
  </div>
</div>