<h1>New Project Maturity</h1>

<% form_for(@project_maturity) do |f| %>
  <%= render :partial => 'form', :object => f %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', project_maturities_path %>
