#overview
  .wrapper
    .message
      %br
      %h1
        500 Internal Sever Error
      %p
        We're sorry, but something went wrong.
      %p
        We've been notified about this issue and we'll take a look at it shortly.
