<h1>New Wiki Page for <%= h @project.name -%></h1>

<% form_for( [@project, @wiki_page] ) do |f| %>
  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', project_wiki_pages_path(@project) %>
