<div id="project_tags" class="two_column section">
  <div class="interior">
    <% allow :exec => proc { @project.approved? } do %>
    <h2>Tags</h2>
    <% allow :exec => proc { @current_user.is_project_member_for?(@project) } do %>
    <% form_remote_tag :url => project_project_tags_path(:project_id => @project) do %>
      <%= text_field_tag :tag, nil, :size => 15 %>
      <%= submit_tag 'Add' %>
    <% end %>
    <% end %>
    <p>
      <% @project.tags.each do |tag| %>
      <%= link_to tag.name, projects_path(:tag => tag.name, :show_search_form => true) -%>
      <% end %>
    </p>
    <% end %>
  </div>
</div>  
