<div id="tag_cloud" class="section" style="float:right;margin-right:20px;">
  <div class="interior">
    <h2>Tag Cloud</h2>
    <% if @tags.empty? -%>
    <p>No tags :/</p>
    <% else -%>
      <% tag_cloud(@tags, @levels) do |tag, level| -%>
        <%= link_to tag.name, projects_path(:tag => tag.name, :show_search_form => true), :class => level -%>
      <% end -%>
    <% end -%>
  </div>
</div>  