<div class="wrapper">
  <h1>Listing Projects</h1>

  <% @projects.group_by(&:category).each do |category, projects| %>
  <div class="two_column section">
    <h2><%= category.name -%></h2>
    <ul>
      <% for project in projects %>
      <li><%= link_to project.name, project -%></li>
      <% end %>
    </ul>
  </div>  
  <% end %>
</div>