production:
  adapter: mysql
  database: fuseforge
  username: rails
  password: password
  host: 127.0.0.1

development:
  adapter: mysql
  database: fuseforge
  username: rails
  password: password
  host: 127.0.0.1
  
phpbb:
  adapter: mysql
  database: phpbb3
  username: phpbb3
  password: password
  host: 127.0.0.1

