<div class="wrapper">
  <h1>Add Administrator to <%= h @project.name -%></h1>
  <% form_tag( project_project_administrators_path(@project), :method => :post) do %>
    <div class="one_column section">
      <div class="interior">
        <p>
          <label>User Login</label><br />
          <%= text_field_tag 'login', @login %>
        </p>
      </div>
    </div>
    <div class="form_button">
      <%= submit_tag "Add" %>
    </div>
  <% end %>
  <div class="bottom_links">
    <%= link_to 'Back', project_project_administrators_path(:project_id => @project) %>
  </div>
</div>